body {
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#PortPic {
    border-radius: 100%;
}

#about {
    color: white !important;
    font-size: larger;
}